.item {
  margin: 0;
  position: relative;
}

.item__title {
  position: absolute;
  top: 15px;
  left: 50%;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: translate(-50%);
}

.item__info {
  text-align: center;
  padding: 2px 12px;
  background-color: #fff;
  font-family: "CabinetGrotesk-Bold";
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.item__image {
  width: 325px;
  height: 325px;
  border-radius: 10px;
  cursor: pointer;
  object-fit: contain;
}

.item__button {
  width: 18px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.item__button_default {
  background-image: url(../../../public/images/like/Default.svg);
}

.item__button_liked {
  background-image: url(../../../public/images/like/Liked.svg);
}
